html, body, #app, .routes {
    height: 100%; background-color: #e9e9e9;
}
.main {
    display: flex; flex-direction: column;
    height: 100%;

    > .appBar{

    }

    > .middleFrame {
        display: flex; flex-direction: row;
        flex-grow: 1;
        overflow-x:hidden;

        > .rightFrame{
            position: relative; z-index: 1;
            flex-grow: 1;
            overflow-x: hidden;
            > .content {

                width: 960px; margin: 0 auto;

                > h1 {
                    margin: 48px 0;
                }
            }
        }

    }
}
