/* Default typography settings */
@import "colors";
$textColorDefault: $darkText;


body{
    font-family: 'Open Sans', sans-serif;
    color:$textColorDefault;
}

h1,h2,h3,h4{
    
}

h1{
    font-size:72px;
}

p{

}
