doctype html
html(lang="sv")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Päron lagerhantering
        link(rel="stylesheet" type="text/css" href="/styles/style.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i")
    body
        #app= reactMarkup
        script.
            window.__PRELOADED_STATE__ = !{preloadedState};
        script(src="/scripts/bundle.js")
