@mixin box-shadow($horizontalLength, $verticalLength, $blur, $spread, $color){
    -webkit-box-shadow: $horizontalLength $verticalLength $blur $spread $color;
    -moz-box-shadow: $horizontalLength $verticalLength $blur $spread $color;
    box-shadow: $horizontalLength $verticalLength $blur $spread $color;
}
